<!DOCTYPE html>
<html lang="zh-Hant">

{{template "head" .}}

<body>
    <div class="container">
        <div class="hidden-xs">
            {{template "header"}}
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#advanced-comparison" aria-controls="advanced-comparison" role="tab" data-toggle="tab">進階比對</a>
            </li>
            <li role="presentation">
                <a href="#batch-deletion" aria-controls="batch-deletion" role="tab" data-toggle="tab">批量刪除</a>
            </li>
            <li role="presentation">
                <a href="#pushsum" aria-controls="pushsum" role="tab" data-toggle="tab">推文數</a>
            </li>
            <li role="presentation">
                <a href="#tricks" aria-controls="tricks" role="tab" data-toggle="tab">小技巧</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="advanced-comparison">
                <p></p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">&: 同時出現</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead">新增 drama-ticket 售&杰倫</p>
                        <dl>
                            <dt>標題同時出現售和杰倫的才會通知</dt>
                            <dd>✓ [售票] 杰倫地表最強演唱會</dd>
                            <dd>✗ [售票] 阿妹 烏托邦</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">!: 除了B以外的所有文章</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead"> 新增 gossiping !問卦 </p>
                        <dl>
                            <dt>除了問卦以外的文章全部通知</dt>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">&!: 出現A裡的文章排除B</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead"> 新增 gossiping 柯文哲&!問卦 </p>
                        <dl>
                            <dt>標題出現柯文哲且不是問卦的才會通知</dt>
                            <dd>✗ [問卦] 柯文哲...</dd>
                            <dd>✓ [新聞] 柯文哲...</dd>
                            <dd>✓ [爆卦] 柯文哲...</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">regexp: 正規表示式</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead"> 新增 hardwaresale regexp:\\[賣/(台中|台北)/.*\\]?(RAM|ram)+.* </p>
                        <dl>
                            <dt>看得懂的.. 就看得懂 Orz</dt>
                        </dl>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="batch-deletion">
                <p></p>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>所有看板：**</h4>
                        <h4>所有關鍵字或作者：*</h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">刪除特定板所有關鍵字：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>刪除 gossiping *</dd>
                            <dd>刪除 gossiping,ezsoft *</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">刪除特定關鍵字在所有設定的看板：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>刪除 ** 樂透</dd>
                            <dd>刪除 ** 樂透,閒聊</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">刪除全部關鍵字設定：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>刪除 ** *</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">刪除作者亦同：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>刪除作者 gossiping *</dd>
                            <dd>刪除作者 gossiping,ezsoft *</dd>
                            <dd>刪除作者 ** chodino</dd>
                            <dd>刪除作者 ** chodino,obov</dd>
                            <dd>刪除作者 ** *</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">刪除作者亦同：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>刪除作者 gossiping *</dd>
                            <dd>刪除作者 gossiping,ezsoft *</dd>
                            <dd>刪除作者 ** chodino</dd>
                            <dd>刪除作者 ** chodino,obov</dd>
                            <dd>刪除作者 ** *</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="pushsum">
                <p></p>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>推噓文數目前通知兩天內所有文章</h4>
                        <h4>所有看板：**</h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">噓文數通知：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>新增噓文數 gossiping 50</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">取消看板推文數通知：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>新增推文數 gossiping 0</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">取消所有看板推文數通知：</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>新增推文數 ** 0</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tricks">
                <p></p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">通知看板所有文章的三種方法</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dd>新增 lifeismoney [</dd>
                            <dd>新增 lifeismoney !嘂</dd>
                            <dd>新增 lifeismoney regexp:.*</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">在已經追蹤的所有看板加入關鍵字、作者、推文數</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>所有看板不分追蹤類別</dt>
                            <dd>新增 ** 尋人</dd>
                            <dd>新增作者 ** chodino</dd>
                            <dd>新增推文數 ** 100</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "script"}}
</body>

</html>