<!DOCTYPE html>
<html lang="zh-Hant">

{{template "head" .}}

<body>
    <div class="container">
        {{template "header"}} {{template "slogan"}}
        <div id="main" class="row bg-success">
            <div id="demo" class="col-md-4 col-md-push-4">
                <img id="demo-img"
                    src="https://s3-us-west-2.amazonaws.com/ptt-alertor-2020-bucket/assets/line_intro.gif"
                    alt="introduction" class="center-block img-rounded img-responsive">
            </div>

            <div id="add" class="col-md-4 col-md-push-4">
                <div class="center-text">
                    {{template "counter" .}}
                </div>
                <div class="center-text">
                    <p>LINE ID: @vxl5146r</p>
                </div>
                <div class="center-text">
                    <a href="https://line.me/R/ti/p/%40vxl5146r"><img height="36" border="0" alt="加入好友"
                            src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"></a>
                </div>

                <div>
                    <img class="img-responsive center-block" src="https://qr-official.line.me/L/LXTG2w48JY.png">
                </div>
            </div>
            <div id="command" class="col-md-4 col-md-pull-8">
                {{template "command"}}
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{template "script" .}}
</body>

</html>