<!DOCTYPE html>
<html lang="zh-Hant">

{{template "head" .}}

<body>
    <div class="container">
        {{template "header" .}}
        <h1 class="center-text">訂閱看板作者關鍵字，即時通知最新文章</h1>
        <div id="main" class="row bg-success">
            <div id="demo" class="col-sm-4 col-sm-push-4">
                <img id="demo-img" src="https://s3-us-west-2.amazonaws.com/ptt-alertor-bucket/assets/line_intro.gif" alt="introduction" class="center-block img-rounded img-responsive">
            </div>

            <div id="add" class="col-sm-4 col-sm-push-4">
                <div class="center-text">
                    <p>LINE ID: @vxl5146r</p>
                </div>
                <div class="center-text">
                    <a href="https://line.me/R/ti/p/%40vxl5146r"><img height="36" border="0" alt="加入好友" src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"></a>
                </div>

                <div>
                    <img class="img-responsive center-block" src="http://qr-official.line.me/L/LXTG2w48JY.png">
                </div>
            </div>
            {{template "command"}}
       </div>
        {{template "footer"}}
    </div>
    {{template "script"}}
</body>

</html>