<!DOCTYPE html>
<html lang="zh-Hant">

{{template "head" .}}

<body>
    <div class="container">
        {{template "header"}}
        {{template "slogan"}}
        <div id="main" class="row bg-info">
            <div id="demo" class="col-md-4 col-md-push-4">
                <img id="demo-img" src="https://s3-us-west-2.amazonaws.com/ptt-alertor-2-bucket/assets/telegram_intro.gif" alt="introduction" class="center-block img-rounded img-responsive">
            </div>

            <div id="add" class="col-md-4 col-md-push-4">
                <div class="center-text">
                    {{template "counter" .}}
                </div>
                <div class="center-text">
                    <p>username: @PttAlertorBot</p>
                </div>
                <div class="center-text">
                    <a href="https://t.me/PttAlertorBot">https://t.me/PttAlertorBot</a>
                </div>
                <div>
                    <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/ptt-alertor-2-bucket/assets/telegram_code.png">
                </div>
            </div>
            <div id="command" class="col-md-4 col-md-pull-8">
                {{template "command"}}
            </div>
       </div>
        {{template "footer"}}
    </div>
    {{template "script" .}}
</body>

</html>