<!DOCTYPE html>
<html lang="zh-Hant">

{{template "head" .}}

<body>
    <div class="container">
        {{template "header" .}}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#keywords" aria-controls="keywords" role="tab" data-toggle="tab">關鍵字</a>
            </li>
            <li role="presentation">
                <a href="#authors" aria-controls="authors" role="tab" data-toggle="tab">作者</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="keywords">
                <table class="table">
                    <thead>
                        <tr>
                            <th>板名</th>
                            <th>關鍵字</th>
                            <th>數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Keywords}}
                        <tr>
                            <td>{{.Board}}</td>
                            <td>{{.Word}}</td>
                            <td>{{.Count}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="authors">
                <table class="table">
                    <thead>
                        <tr>
                            <th>板名</th>
                            <th>關鍵字</th>
                            <th>數量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Authors}}
                        <tr>
                            <td>{{.Board}}</td>
                            <td>{{.Word}}</td>
                            <td>{{.Count}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{template "footer"}}
    </div>
    {{template "script"}}
</body>

</html>